<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../../static/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-3.1.1.js"></script>
    <title>Login</title>
    <!-- <script src="/src/github.com/oscar-health/js/testreactjs.js"  type="text/javascript"></script> -->

    <script type="text/javascript">
        $(function(){
            $("#SignInWithGoogle img").mouseover(function(){
                $(this).attr("src", "../../static/img/oauth/btn_google_signin_dark_pressed_web.png")
            }).mouseleave(function(){
                $(this).attr("src", "../../static/img/oauth/btn_google_signin_dark_normal_web.png")
            })

            $("#SignInWithAuth0 a").mouseover(function(){
                $(this).css('background-color', '#EFF0F1')
            }).mouseleave(function(){
                $(this).css('background-color', '#FFFFFF')
            })
        });
    </script>
</head>

<body>
    <div class="container col-lg-6 col-lg-push-3 col-md-6 col-md-push-3 col-xl-6 col-xl-push-3 col-xs-6 col-xs-push-3">
        <form class="SignIn" method="post" action="">
            <div class="form-group">
                <label class="control-label" for="LoginId">UserName:</label>
                <input class="form-control" type="text" id="LoginId" name="LoginId" placeholder="User Name">
            </div>
            <div class="form-group">
                <label class="control-label" for="LoginPwd">Password:</label>
                <input class="form-control" type="text" id="LoginPwd" name="LoginPwd" placeholder="Password">
            </div>
            <div class="button-group">
                <input type="button" class="btn btn-dark" id="SignUp" value="Sign Up" />
                <input type="button" class="btn btn-dark" id="SignIn" value="Sign In" />
            </div>
            
        </form>

        <div class="OauthSignIn">
            <div id="SignInWithAuth0">
                <a href="http://localhost:9090/login?authServer=auth0">
                    <img src="../../static/img/oauth/btn_auth0_signin_dark_normal_web.png">       Sign in with Auth0
                </a> 
            </div>
            <div id="SignInWithGoogle">
                <a href="http://localhost:9090/login?authServer=google">
                    <img src="../../static/img/oauth/btn_google_signin_dark_normal_web.png">
                </a>    
            </div>
            
        </div>
            
    </div>
    
</body>
</html>